In [1]:
import pandas as pd
import pomegranate as pg # Import packages

In [2]:
df = pd.read_csv(r'799 Training.csv')
df

            GMT Time  ODBA  Temperature [C]          MT Time  Classification
0    8/10/2021 17:45   319             24.0  8/10/2021 11:45               0
1    8/10/2021 17:45   319             24.0  8/10/2021 11:45               0
2    8/10/2021 17:45   319             24.0  8/10/2021 11:45               0
3    8/10/2021 17:45   319             24.0  8/10/2021 11:45               0
4    8/10/2021 17:45   319             24.0  8/10/2021 11:45               0
..               ...   ...              ...              ...             ...
203  8/10/2021 18:14   336             21.5  8/10/2021 12:14               1
204  8/10/2021 18:15   760             21.5  8/10/2021 12:15               1
205  8/10/2021 18:15   255             21.5  8/10/2021 12:15               1
206  8/10/2021 18:15   223             22.0  8/10/2021 12:15               1
207  8/10/2021 18:15   250             22.0  8/10/2021 12:15               1

[208 rows x 5 columns]

In [3]:
dist = pg.MultivariateGaussianDistribution
df = pd.read_csv(r'799 Training.csv') # This is your building HMM - this won't change
# df = df.dropna() # drop all values without a classification
df['Classification'] = df['Classification'].astype('str') # make the classification a string
X = [] # empty x list
y = [] # empty y list
ind = df.index.to_list() # filter through the index a bit faster
for x in ind: 
    X.append([df.loc[x,'ODBA']]) # Append the odba value
    # if df.loc[x,'Classification'] != 'nan': 
    y.append([df.loc[x,'Classification'][0]]) # append the classification value
    # else:
    #     y.append(['None'])
y

[['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['0'],
 ['1'],
 ['1'],
 ['1'],
 ['0'],
 ['1'],
 ['0'],
 ['1'],
 ['0'],
 ['1'],
 ['0'],
 ['1'],
 ['0'],
 ['1'],
 ['0'],
 ['1'],
 ['0'],
 ['1'],
 ['0'],
 ['1'],
 ['0'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['0'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['0'],
 ['0'],
 ['1'],
 ['1'],
 ['1'],
 ['0'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['0'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['0'],
 ['1'],
 ['0'],
 ['0'],
 ['0'],
 ['1'],
 ['1'],
 ['1'],
 ['0'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1'],
 ['1']]

In [4]:
model = pg.HiddenMarkovModel.from_samples(dist,n_components = 2,X = X, labels = y, algorithm = 'labeled', state_names = ['0','1']) # Build the model using the above data
# model

In [31]:
df = pd.read_csv('PinPoint 801 2021-10-08 13-30-57_activity.csv') # This is your new data source
df['Results'] = model.predict(df['ODBA']) # create the predictions

In [32]:
df.to_csv('801SP_Hmm.csv') #Save the predicted results

In [14]:
df

,GMT Time,ODBA,Temperature [C],MT Time,Classification,Results
0,10/8/2021 16:02,219,14.5,10/8/2021 10:02,NaN,0
1,10/8/2021 16:02,386,14.5,10/8/2021 10:02,NaN,1
2,10/8/2021 16:02,370,14.5,10/8/2021 10:02,NaN,1
3,10/8/2021 16:02,224,14.5,10/8/2021 10:02,NaN,0
4,10/8/2021 16:01,334,15.0,10/8/2021 10:01,NaN,1
...,...,...,...,...,...,...
340274,8/10/2021 14:13,244,18.0,8/10/2021 8:13,NaN,0
340275,8/10/2021 14:13,270,18.0,8/10/2021 8:13,NaN,0
340276,8/10/2021 14:13,278,18.0,8/10/2021 8:13,NaN,0
340277,8/10/2021 14:13,398,18.0,8/10/2021 8:13,NaN,1
340278,8/10/2021 14:12,347,18.0,8/10/2021 8:12,NaN,1

Metric Things - can only be done once

In [10]:

df1 = df.dropna(subset=['Classification'])
df1['Classification'] = df1['Classification'].astype('str')
for x in df1.index:
    df1.loc[x,'Classification'] = df1.loc[x,'Classification'][0]
df1['Results'] = df1['Results'].astype('str')

C:\Users\chris\AppData\Local\Temp/ipykernel_31816/3721720221.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Classification'] = df1['Classification'].astype('str')
c:\ProgramData\Anaconda3\envs\geopandas_docs\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\chris\AppData\Local\Temp/ipykernel_31816/3721720221.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Results'] = df1['Results'].astype('str')

In [11]:
from sklearn.metrics import classification_report
res = classification_report(df1['Classification'],df1['Results'], output_dict=True)
res = pd.DataFrame(res)
res

                    0           1  accuracy   macro avg  weighted avg
precision    0.719424    0.790000  0.748954    0.754712      0.754269
recall       0.826446    0.669492  0.748954    0.747969      0.748954
f1-score     0.769231    0.724771  0.748954    0.747001      0.747280
support    121.000000  118.000000  0.748954  239.000000    239.000000